html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.Register{
    display: flex;
    flex-direction: row; /* Aligns items side-by-side */
    height: 100vh;       /* Full vertical height */
    width: 100vw;
    align-items: flex-start; /* Forces all children to align perfectly to the left edge */
    text-align: left;
    
}



.Logo-Register{
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  color: #2B1B14;
  padding-bottom: 90px;
}
.Teacher_logo{
    color: white;
}


.logo-icon-register {
  width: 42px;
  height: 42px;

  background: #8B4A24;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 10px;
}


.Teacher_shelf{
    background-color: #793e1d;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 100%;
    min-height: 100vh;
}


.Teacher_shelf,.Register_section{
  width: 100%;
  flex: 1;             /* Distributes equal 50/50 space */
  padding: 20px;
  display: block;
}

.Register_section{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 70px;
}


.teacher_experience{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    background-color: rgba(255, 255, 255, 0.06);
    padding: 16px 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.teacher-info{
    align-items: flex-start;
    text-align: left;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.teacher-info h2{
    color: white;
}
.section-teacher p{
    color: white;
    margin-bottom: 30px;
}


.teacher-info p{
    color: #c7b19d;
}

.footer-class{
    margin-top: 100px;
    color: #c7b19d;
    
}

.button_initials button{
   background-color: #793e1d;
   color: white;
   border: none;

   float: left;

   width: 40px;
   height: 40px;

   border-radius: 50%;

   margin-left: 10px;
   margin-top: 10px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap:8px;
    margin-bottom: 24px;
}


